@keyframes scroll-horizontal {
    from {
        transform: translateX(60%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll-horizontal-desktop {
    from {
        transform: translateX(80%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll-horizontal-desktop-xl {
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(-100%);
    }
}

header {
    .header__container {
        background: linear-gradient(to right, #fff, #333);
        .logo-conquer {
            padding: 0;
                margin: 0;
                background: transparent;
            img {
                background: transparent;
                margin-bottom: 0;
                padding: 0;
                width: 500px;
            }
        }

        nav {
            overflow: hidden; 
            white-space: nowrap; // Evita saltos de línea
            display: flex;
            
            background: linear-gradient(to right, #fff, #333);
            ul {
                display: flex;
                gap: 20px;
                margin-bottom: 0;

                width: max-content; // Se expande según el contenido
                background: transparent;
                // Hace que el contenido se desplace en bucle infinito
                animation: scroll-horizontal 9s linear infinite;

                li {
                    display: inline-block;
                    background: transparent;
                }

                a {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 700;
                    background: transparent;
                    text-decoration: none;
                    color: $text-color;
                    padding: 10px 20px;
                    transition: transform 0.3s ease-in-out; // Transición

                    // Detiene la animación y aplica zoom en hover
                    &:hover {
                        color: #fff;
                        animation-play-state: paused;
                        transform: scale(1.1); // Pequeño zoom
                    }

                    // También detiene la animación si el enlace está activo
                    &.active {
                        animation-play-state: paused;
                        color: #fff;
                        transform: scale(1.1);
                    }
                }
            }

            // Si el mouse está sobre el nav, se detiene toda la animación
            &:hover ul {
                animation-play-state: paused;
            }
        }
    }




    // Breakpoint para la resolución de Tablet
    @include breakpoint(tablet){
        .header__container{
            .logo-conquer {
                display: flex;
                flex-direction: column;
                img {
                    align-content: center;
                    width:800px;

                }
            }

            nav {
                overflow: hidden; 
                white-space: nowrap; // Evita saltos de línea
                display: flex;
                
                background: linear-gradient(to right, #fff, #333);
                ul {
                    display: flex;
                    gap: 80px;
                    margin-bottom: 0;
    
                    width: max-content; // Se expande según el contenido
                    background: transparent;
                    // Hace que el contenido se desplace en bucle infinito
                    animation: scroll-horizontal 9s linear infinite;
    

    
                    a {
                        font-size: 20px;
                        font-weight: 900;
                    }
                }

            }
        }
    }




    // Breakpoint para la resolución de Tablet Horizontal
    @include breakpoint(tablethorizontal){
        .header__container{
            .logo-conquer {
                display: flex;
                flex-direction: column;
                img {
                    align-self: center;
                    width:850px;
                }
            }
            nav {
                ul {
                    animation: scroll-horizontal 8s linear infinite;
                    a {
                        font-size: 22px;
                    }
                }

            }
        }
    }


    // Breakpoint para la resolución de desktop
    @include breakpoint(desktop){
        .header__container{
            .logo-conquer {
                display: flex;
                flex-direction: column;
                img {
                    align-self: center;
                    width:850px;
                }
            }
            nav {
                ul {
                    gap: 120px;
                    animation: scroll-horizontal-desktop 7.5s linear infinite;
                    a {
                        font-size: 25px;
                    }
                }

            }
        }
    }

    // Breakpoint para la resolución de desktopXL
    @include breakpoint(desktopxl){
        .header__container{
            .logo-conquer {
                img {
                    width: 850px;
                }
            }
            nav {
                ul {
                    gap: 140px;
                    animation: scroll-horizontal-desktop-xl 8.5s linear infinite;
    
    
                    a {
                        font-size: 26px;
                        font-weight: 1000;
                    }
                }
            }
        } 
    }
}
